* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #d2d4d1;
}

.nav-bar {
  background-color: #538d6d;
  color: white;
  font-weight: 700;
}

.jumbotron {
  background-color: rgb(36, 36, 36);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}

.jumbotron p {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  color: #e3ffe8;
  margin-bottom: 0.5rem;
}

.jumbotron span {
  color: #e2fc7c;
  font-size: 1rem;
  font-weight: 400;
}

.timer {
  display: flex;
  flex-wrap: nowrap;
  max-width: 17rem;
  justify-self: center;
  margin: auto;
}

.box {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

.box span {
  font-size: 0.75rem;
}

.box p {
  font-size: 1rem;
  margin-bottom: 0;
}

/* .books-container {
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
} */

/* .row {
  display: flex;
  justify-content: left;
} */

.card {
  background-color: #f4f4f4;
}

.card img {
  height: 20rem;
  object-fit: contain;
  padding: 1rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.8rem;
  text-transform: capitalize;
  /* height: 12rem; */

  border-top: solid 1px rgb(217, 217, 217);
}

.card-body div:first-of-type {
  display: flex;
  flex-direction: column;
}

.card-body div:first-of-type span:first-of-type {
  font-size: 0.75rem;
  color: rgb(100, 100, 100);
}

.card-body h5 {
  font-size: 1.2rem;
  font-weight: 700;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  /* white-space: pre-wrap; */
}

.card-body > span:first-of-type {
  font-size: 0.85rem;
  font-weight: 500;
  color: rgb(58, 58, 58);
}

.price-cart {
  display: flex;
  justify-content: space-between;
}

.price-cart button {
  border-radius: 50%;
  text-align: center;
  height: 3rem;
  width: 3rem;
}

.price-cart button i {
  font-size: 1.3rem;
}

.price-cart > span {
  font-size: 2rem;
  font-weight: 800;
  align-self: center;
}
/* 
.reviews {
  border-top: solid 1px rgb(217, 217, 217);
  padding-top: 0.5rem;
}

.reviews > p {
  font-size: 0.9rem;
  /* color: rgb(82, 84, 61); */
/* font-weight: 600;
  text-align: center; */

/* border: 1px solid grey; */
/* }

.reviews button {
  border-radius: 0.3rem;
  border: solid 1px rgb(185, 185, 185);
  font-size: 1rem;
  font-weight: 600;
  padding: 0.1rem 0.2rem 0.3rem 0.3rem;
  background-color: #e0ebe5;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.reviews button span {
  font-size: 1.5rem;
}

.leaveReview {
  border-top: solid 1px rgb(217, 217, 217);
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
} */

/* .reviewsList li {
  margin-top: 1rem;
  font-size: 0.9rem;
} */
*/

/* ------footer----- */
.footer {
  background-color: #538d6d;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 7rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.footer span {
  font-size: 0.85rem;
}
